.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: black;
}
.Navbar_link {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}
.Navbar_link_logo {
  margin-right: 2rem; /* Add margin to shift the logo to the left */
  background-color: black;
  font-size: 24px;
  color: white;
  /* padding: 30px 30px 30px 30px; */

}
/* .Navbar_link_container {
  display: flex; */
  .Navbar_link_container {
    display: flex;
    justify-content: flex-end; /* Change justify-content to flex-end */
    align-items: flex-end;
    flex-direction: row;
    
    text-align: end;
   
    padding: 1rem;
    position: absolute;
    right: 0;
    /* top: 40px; */
    margin-top: 1rem;
    margin-right: 10rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
  }
  /* flex-direction: row;
  background-color:black;
} */
.Navbar_sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Navbar_link_container p,
.Navbar_menu_container p {
  color:white;
 
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}
.Navbar_sign button,
.Navbar_menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.Navbar_menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}
.Navbar-menu svg {
  cursor: pointer;
}
.Navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  
  text-align: end;
 
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
.Navbar_menu_container p {
  margin: 1rem 0;
}
.Navbar-menu_container_links_sign {
  display: none;
}
@media screen and (max-width: 1050px) {
  .Navbar_link_container {
      display: none;
  }

  .Navbar_menu {
      display: flex;
  }
}
@media screen and (max-width: 700px) {
  .Navbar {
      padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .Navbar {
      padding: 2rem;
  }

  .Navbar_sign {
      display: none;
  }

  .Navbar_menu_container {
      top: 20px;
  }

  .Navbar_menu_container-links-sign {
      display: block;
  }
}


